@use "../../assets/style/sass/abstracts/abstracts" as ab;
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

#detail-movie {
  /* Top */
  .detail__top {
    width: inherit;
    height: calc(100vh - var(--height-header));
    position: relative;
    overflow: hidden;
    z-index: 0;

    &:hover {
      .detail-name {
        top: 1em;
      }
      .detail__content {
        bottom: 1em;
      }
    }
    .detail-img {
      width: 100%;
      height: 100%;
      min-height: 350px;
      object-fit: cover;
      object-position: top center;

      @media screen and (max-width: 768px) {
        object-fit: contain;
      }
    }
    .detail-name {
      unicode-bidi: isolate;
      font-family: "Orbitron", sans-serif;
      position: absolute;
      top: -50%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      font-size: max(var(--fs-text) * 2);
      font-weight: 900;
      padding-inline: 1em;
      letter-spacing: 0.1em;
      text-wrap: nowrap;
      text-align: center;
      text-transform: uppercase;
      transition: 0.25s 0.1s all linear;
      background-color: var(--color-primary);
      color: white;
    }

    .detail__content {
      width: 60vw;
      height: fit-content;
      position: absolute;
      bottom: -200%;
      left: 50%;
      z-index: 2;
      padding: 0.7em;
      overflow: hidden;
      background: rgba(0, 0, 0, 0.7);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border-radius: ab.$radius-1;
      border: 1px solid rgba(255, 255, 255, 0.3);
      transform: translateX(-50%);
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      transition: 0.25s 0.3s all linear;

      .content__left {
        width: 100%;
        min-height: 150px;
        border-radius: ab.$radius-2 0 0 ab.$radius-2;
        overflow: hidden;
        .content-video {
          width: 100%;
          height: 100%;
        }
      }
    }

    .content__right {
      width: 100%;
      height: 100%;
      font-size: var(--fs-text);
      flex-grow: 1;
      background-color: #000;
      color: ab.$text-1;
      text-align: start;
      padding: 0.5em 0.5em 0.5em 1em;
      border-radius: 0 ab.$radius-2 ab.$radius-2 0;
      position: relative;

      .btn-buy-ticket {
        padding: 0.2em 0.7em;
        color: #000;
        background-color: ab.$color-ticket;
        border-radius: 5px;
        font-weight: 500;
      }
    }
  }

  .theater {
    min-width: 100px;
    height: calc(100dvh - var(--height-header));
    position: fixed;
    top: var(--height-header);
    right: -100px;
    background-color: ab.$color-ticket;
    transition: right 0.1s linear;

    &.show {
      right: 0;
    }

    .btn-buy-ticket {
      position: absolute;
      bottom: min(1em, 5vw);
      left: min(-50%, -50px);
      padding: 0.5em 1em;
      text-align: center;
      font-weight: 700;
      background-color: ab.$color-ticket;
      color: ab.$text-2;
      text-wrap: nowrap;
    }
    .theater-list {
      width: inherit;
      height: inherit;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      padding-inline: 0.5em;
      gap: 1em;
      .theater-link {
        display: block;
        font-weight: 700;
        color: ab.$text-2;
        z-index: 3;
        .theater-logo {
          width: 70px;
          height: 70px;
          box-shadow: 0 0 10px 0 black;
          border-radius: 100%;
          object-fit: cover;
        }
      }
    }
  }
  /* Bottom */
}
