$text-1: #fff;
$text-2: #000;
$bg-1: #1e1e1e;
$bg-2: #fff;
$color-primary: #fe4938;
$color-ticket: #f3ea28;

$color-seat-none: #fff;
$background-seat-none: #000;

$color-seat-booked: #fff;
$background-seat-booked: #fe4938;

$color-seat-choosed: #000;
$background-seat-choosed: #fff;

$radius-1: 5px;
$radius-2: 0.2em;
$fs-title: 2.5em;
$fs-text: 14px;
$height-header: 92px;

:root {
  --color-theme: $text-1;
  --color-primary: #fe4938;
  --background-theme: $bg-1;
  --color-white-1: #fff;
  --fs-text: 1rem;
  --height-header: 90px;
  --padding-inline: 2em;
  --padding-block: 0.5em;

  :has(#checkbox-theme:checked) {
    --color-theme: black;
    --background-theme: white;
  }

  @media (prefers-color-scheme: dark) {
    --color-theme: white;
    --background-theme: black;
  }

  @media (prefers-color-scheme: light) {
    --color-theme: black;
    --background-theme: white;
  }

  @media screen and (max-width: 992px) {
    --fs-text: 14px;
    --padding-inline: 1.5em;
  }

  @media screen and (max-width: 768px) {
    --fs-text: 12px;
    --padding-inline: 2em;
  }

  @media screen and (max-width: 500px) {
    --fs-text: 10px;
    --padding-inline: 2em;
  }
}
