#payment {
  padding-block: 2em;
  padding-inline: 1em;
  background-color: var(--color-theme);
  color: var(--background-theme);
  .table__payment {
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    margin-bottom: 1em;
    .payment_heading {
      font-weight: 700;
      color: var(--color-theme);
      background-color: var(--background-theme);
    }
    .payment_row {
      border-bottom: 1px dashed gray;
      &:hover {
        background-color: rgb(201, 201, 201);
      }
    }

    .table__footer {
      th {
        background-color: black;

        font-weight: 700;
        padding-inline: 1em;
        &.th-count {
          color: white;
        }

        &.th-total {
          font-size: 1.5em;
          color: var(--color-primary);
        }
      }
      td {
        border: 1px double gray;

        &.td-total {
          font-size: 1.2em;
          font-weight: 700;
        }
      }
    }
  }
  .btn-payment {
    width: 250px;
    font-size: 1.5em;
    display: block;
    margin-left: auto;
    background-color: var(--color-primary);
    color: var(--color-theme);
  }
}
